@charset "utf-8";
body {
    margin:0;
    padding:0;
    width:100%;
    background:#d1e3ff;
}
html {
    padding:0;
    margin:0;
}
li.bg, .bg {
    clear:both;
    padding:0;
    margin:10px 0;
    height:5px;
    list-style:none;
}
p.clr, .clr {
    clear:both;
    padding:0;
    margin:0;
}
.main {
    margin:0 auto;
    padding:0;
}
.header_resize {
    margin:0 auto;
    padding:0;
    width:968px;
}
.header {
    background:top repeat-x;
    margin:0;
    padding:0;
}
.logo {
    width:440px;
    margin:0 auto;
    padding:0;
    float:left;
    animation: myAnim 5s linear alternate infinite;
}
h1 {
    margin:0;
    padding:56px 0 24px 40px;
    color:#fff;
    font:bold 40px/1.2em Arial, Helvetica, sans-serif;
}
h1 a, h1 a:hover {
    color:#fff;
    text-decoration:none;
}
h1 span {
    color:dodgerblue;
}
h1 small {
    font:normal 20px/1.2em Arial, Helvetica, sans-serif;
    color:dodgerblue;
}
.search {
    padding:20px 20px 0 0;
    margin:0;
    width:260px;
    float:right;
}
.search form {
    float:right;
    padding:0 10px 0 0;
    margin:0;
}
.search span {
    display:block;
    float:left;
    background:#fff;
    width:180px;
    padding:3px 5px;
    border:1px solid #d1d2d1;
}
.search form .keywords {
    width:170px;
    line-height:14px;
    height:14px;
    float:left;
    background:none;
    border:0;
    padding:6px 2px;
    margin:0;
    font:normal 11px Arial, Helvetica, sans-serif;
    color:#acacac;
}
.search form .button {
    float:left;
    margin:0 0 0 10px;
    padding:0;
}
.menu {
    padding:0;
    margin:70px 0 0 0;
    width:410px;
    float:right;
    background:#fcfdfe;
    border:1px solid #dfdfdf;
}
.menu ul {
    padding:0;
    margin:0;
    list-style:none;
    border:0;
    float:left;
}
.menu ul li {
    float:left;
    margin:0;
    padding:0 8px 0 0;
}
.menu ul li a {
    float:left;
    margin:0;
    padding:10px 16px;
    color:#696969;
    font:normal 12px Arial, Helvetica, sans-serif;
    text-decoration:none;
}
.menu ul li a:hover {
    color:darkblue;
    background:url(images/hover1.gif) top repeat-x;
}
.menu ul li a.active {
    color:cornflowerblue;
    background:url(images/hover1.gif) top repeat-x;
    font-weight:bold;
}
.headert_text_resize {
    width:969px;
    padding:0;
    margin:0 auto;
    background:url(images/fon_zagolovka.jpg) top no-repeat;
    height:320px;
}
.headert_text_resize img {
    margin:0;
    padding:35px 0 0 40px;
    float:left;
}
.headert_text {
    width:500px;
    float:right;
    margin:0;
    padding:40px 30px 0 0;
}
.headert_text h2 {
    font:bold 26px Arial, Helvetica, sans-serif;
    color:#fcfdfe;
    padding:15px 0;
    margin:0;
}
.headert_text p {
    font:bold 14px Arial, Helvetica, sans-serif;
    color:#fcfdfe;
    padding:10px 0;
    margin:0;
    line-height:1.8em;
}
.headert_text p a {
    font:bold 14px Arial, Helvetica, sans-serif;
    color:#fcfdfe;
    padding:10px 0;
    margin:0;
    line-height:1.8em;
}
.headert_text p span {
    color:darkblue;
    font-weight:bold;
}
.body_resize {
    margin:0 auto;;
    padding:0;
    width:969px;
}
.body {
    margin:0;
    padding:0;
}
.body h3 {
    font:bold 18px Arial, Helvetica, sans-serif;
    color:cornflowerblue;
    padding:3px 0 3px 5px;
    margin:5px 0 10px 0;

}
.body h2 {
    font:bold 24px Arial, Helvetica, sans-serif;
    color:darkslateblue;
    padding:3px 0 3px 5px;
    margin:5px 0 10px 0;

}
.body h1 {
    font:bold 30px Arial, Helvetica, sans-serif;
    color:cornflowerblue;
    padding:3px 0 3px 5px;
    margin:20px 0 10px 0;
    text-align: center;

}
.body h2 span {
    color:#323a3f;
}
.body p {
    font:normal 12px Arial, Helvetica, sans-serif;
    color:#696969;
    padding:5px;
    margin:0;
    line-height:1.8em;
}
.body img {
    float:left;
    margin:5px;
    padding:0;
}
.body a {
    color:dodgerblue;
    text-decoration:underline;
}
.left {
    float:left;
    width:969px;
    margin:0;
    padding:0;
}
.resize_bg {
    background:#fcfdfe;
    border:1px solid #d6d6d6;
    margin:10px 0;
    padding:10px;
}
.FBG_resize {
    margin:0 auto;
    padding:0;
    width:930px;
}
.FBG {
    margin:0;
    padding:0;
}
.FBG img {
    float:left;
    margin:5px 10px 5px 0;
    padding:0;
}
.FBG h2 {
    font:bold 24px Arial, Helvetica, sans-serif;
    color:dodgerblue;
    padding:3px 0 3px 5px;
    margin:5px 0 10px 0;
}
.FBG h2 span {
    color:#323a3f;
}
.FBG p {
    font:normal 12px Arial, Helvetica, sans-serif;
    color:#696969;
    padding:5px;
    margin:0;
    line-height:1.8em;
}
.FBG a {
    text-decoration:underline;
}
.FBG .blok {
    width:270px;
    float:left;
    padding:5px 20px;
    margin:0;
}
.footer_resize {
    margin:0 auto;
    padding:0;
    width:930px;
    color:#696969;
    font:normal 12px Arial, Helvetica, sans-serif;
    border-top:1px solid #CCC;
}
.footer {
    padding:0;
    margin:0 auto;
}
.footer p {
    margin:0;
    padding:15px 0;
    line-height:normal;
    color:#696969;
}
.footer a {
    color:#696969;
    padding:inherit;
    text-decoration:underline;
}
.footer a: hover {
    text-decoration:none;
}
.footer .lf {
    float:left;
}
.footer .rf {
    float:right;
}
.smail{
    text-align: center;
}
@keyframes myAnim {
 from {
   margin-left: -45;
 }
 to {
   margin-left: 50px;
 }
}




